.App {
  height: 100vh;
}

.section {
  height: 100%;
  width: 100%;
  color: white;
  position: fixed;
  //visibility: hidden;
  top: 0;
}

.section :global {
  .paul-woods {
    font-size: calc(10px + 12vmin);
    @media (min-width: 100vh) {
      font-size: calc(10px + 12vmax);
    }
    line-height: 1;
    font-weight: 100;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    .paul,
    .woods {
      align-items: end;
    }
    > * {
      display: flex;
    }
    .paul,
    .art {
      justify-content: end;
    }

    .paul,
    .com {
      color: rgba(255, 255, 255, 0.42);
    }
    .letter {
      opacity: 0;
    }
  }
  .home-carousel {
    height: var(--carousel-height);
    .carousel-track {
      height: 100vh;
      display: flex;
      align-items: center;
      width: max-content;
    }
    .carousel-slide {
      display: flex;
      height: 100vh;
      flex: 1 0 100vw;
      min-width: 100vw;
      align-items: center;
      justify-content: center;
      margin: 0 2.5vh;
    }
    --bw: 1px;
    .frame {
      position: relative;
      background: #111;
      border: 1px solid rgba(0, 0, 0, 0.42);
      background: repeating-linear-gradient(
        -45deg,
        #191919,
        #191919 3px,
        #212121 3px,
        #212121 5px
      );
      &:before {
        position: absolute;
        content: "";
        top: 5vh;
        left: 5vh;
        bottom: 5vh;
        right: 5vh;
        background-color: rgba(200, 222, 255, 0.27);
        background-blend-mode: color-dodge;
        clip-path: polygon(
          0 0,
          0 100%,
          100% 100%,
          100% 0,
          0 0,
          0 var(--bw),
          calc(100% - var(--bw)) var(--bw),
          calc(100% - var(--bw)) calc(100% - var(--bw)),
          var(--bw) calc(100% - var(--bw)),
          var(--bw) var(--bw)
        );
      }
      img {
        box-shadow: 0 0 4vh rgba(255, 255, 255, 0.12),
          0 1px 8px 0 rgb(0 0 0 / 40%), 0 3px 4px 0 rgb(0 0 0 / 28%),
          0 3px 3px -2px rgb(0 0 0 / 24%);
        max-height: 80vh;
        min-height: 80vh;
        margin: 5vh;
      }
    }
  }
}

.link {
  color: #b318f0;
}

* {
  box-sizing: border-box;
}
